
@media all and (min-width: 320px) and (max-width: 900px) {
    .container {
        width:auto;
        padding: 0px 15px;
    }
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .header {
        width: 100%;
        background:#252527;
        display: none;
    }
    .logo, .menu  {
        float: none;
        width: auto;
        height: auto;
    }
    .choose-sport {
        padding: 0px;
        position: relative;
        top: 0px;
    }
    .choose-sport h3 {
        position: relative;
        width: auto;
    }
    .menu li {
        float: none;
        width: auto;
    }
    .hidden-pc {
        display: block;
    }
    .icon-menu {
        width: 50px;
        height: 50px;
        background-size: 50px;
    }
    .menu li a {
        background: #000;
        margin-bottom: 3px;
        height: 60px;
        line-height: 60px;
    }
    .choose-sport h3 {
        background: #000;
        color: #ffee00;
        font-family: 'slim_joeregular';
        padding: 10px;
    }
    .logo {
        padding: 15px;
    }
    .logo h3 {
        display: none;
    }
    .logo h1 {
        font-size: 30px;
    }
    .announcements {
        width: 93%;
        height: 350px;
        padding: 20px;
    }
    #gallery {
        width: auto;
        padding: 0px 10px;
    }
    .filter-gallery {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
    }
    #gallery .select-option .custom-combobox-input {
        font-size: 10px;
    }
    .ui-menu .ui-menu-item {
        font-size: 12px;
    }
    .header-gallery .select-option {
        width: 46%;
    }
    .header-gallery .title-box {
        text-align: center;
    }
    .list-choose {
        padding: 20px 40px;
        background: none;
    }
    .choose-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .choose-header .select-option {
        margin-bottom: 5px;
    }
    .ui-tooltip  {
        display: none !important;
    }
    .slogan-mobile {
        font-family: 'big_johnregular';
        color: #ffee00;
        font-size: 11px;
        text-align: center;
        margin: 10px;
    }
    .close-header {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .close-header img {
        width: 20px;
    }
    .header-mobile {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 10;
        padding-left: 62px;
    }
    .header-mobile .toogle-header {
        display: block;
        position: absolute;
        padding: 16px;
        padding-top: 17px;
        font-size: 30px;
        background: rgba(0,0,0,0.6);
        left: 0px;
        top: 0px;
        color: #fff;
    }
    .header-mobile .logo {
        background: rgba(0,0,0,0.6);
        color: #ffee00;
    }
    .sponsers-home h3 {
        font-size: 17px;
    }
    .sponsers-home {
        padding-left: 120px;
    }
    .banner-home {
        height: 560px;
        min-height: 10px !important;
    }
    .announcements.active .col-sm-6 {
        width: auto;
    }
    .announcements.active {
        height: 500px;
    }
    .announcements.active #announcements-scroll {
        height: 400px !important;
    }
    .title-box {
        font-size: 20px;
    }
    .banner-page {
        height: auto  !important;
    }
    .list-calendar {
        height: 450px !important;
        padding-right: 0px;
    }
    .menu-calendar {
        padding-bottom: 30px;
    }
    .menu-calendar > ul > li.add-games {
        position: absolute;
        bottom: -11px;
        left: 0px;
        width: 100%;
        display: block;
    }
    .row-2, .row-1 {
        float: none;
        width: auto;
    }
    .right-calendar {
        padding-left: 0px;
    }
    .calendar img {
        width: 100%;
    }
    .menu-tab ul li a {
        font-size: 11px;
        padding: 10px 6px;
    }
    .menu-calendar, .calendar-league .menu-calendar {
        padding-left: 100px;
    }
    .menu-calendar h4, .calendar-league .menu-calendar h4 {
        width: 100px;
    }
    .menu-calendar > ul > li > a {
        font-size: 12px;
    }
    .menu-calendar h4 {
        padding: 23px 0px;
        text-align: center;
    }
    .row-1 {
        margin-bottom: 30px;
    }
    .box-list {
        font-size: 12px;
        line-height: 16px;
    }
    .box-list h4 {
        font-size: 12px;
        line-height: 16px;
    }
    .box-list .number-box {
        font-size: 30px;
        line-height: 30px;
    }
    .con-top {
        padding-top: 80px;
    }
    .banner-page {
        padding-bottom: 20px;
    }
    #ascrail2001 {
        margin-left: 0px;
    }
    .menu-calendar > ul > li {
        position: static;
    }
    .dropdown-calendar {
        width: 100%;
        padding: 10px;
        top: 55px;
        background: #000;
    }
    .subscribed {
        padding-right: 100px;
    }
    .subscribed .btn {
        width: 100px;
        font-size: 12px;
        padding: 15px 5px;
        padding-top: 16px;
    }
    .header-mobile-page {
        padding-right: 65px;
    }
    .header-mobile-page .list-choose-right {
        display: block;
        position: absolute;
        padding: 9px 8px;
        font-size: 30px;
        background: rgba(0,0,0,0.6);
        right: 0px;
        top: 0px;
    }
    .header-mobile-page .list-choose-right .icon-menu {
        width: 45px;
        height: 45px;
        background-size: 45px;
    }
    .header-page {
        width: 75%;
    }
    .header-page .logo, .header-page .choose-sport, .header-page .choose-header, .header-page .account-top {
        float: none;
        width: auto;
    }
    .header-page .choose-sport, .header-page .choose-header, .header-page .account-top {
        background: none;
    }
    .header-page .choose-header {
        padding: 10px;
    }
    .header-page .select-option {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .header-page .account-top {
        display: none;
    }
    .header-page .choose-sport h3 {
        background: none;
        color: #fff;
        border: 0px;
    }
    .menu-tab {
        margin-top: 0px;
    }
    .con-top-slide, .header-mobile-page-slide {
        margin-left: 75.5%;
    }
    .wrapper {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
    }
    .header-mobile-page-slide .toogle-header {
        color: #ffee00;
    }
    .header-page .logo {
        padding: 14px 0px;
    }
    .calendar {
        padding: 20px;
    }
    .scroll-table {
        height: 510px;
    }
    .table-main {
        font-size: 12px;
    }
    .box-leaguelanding {
        width: auto;
    }
    .login-box {
        width: auto;
        width:95%;
        height: auto;
        padding-bottom: 30px;
    }
    .banner-login {
        background-position: left center;
    }
    .login-box {
        top: 70%;
    }
    .login-box form {
        width: 70%;
    }
    .login-box h3 {
        margin: 20px 0px;
        font-size: 18px;
    }
    .header-login {
        display: block;
        background: none;
        width: 100%;
    }
    .header-login .logo {
        float: none;
        background: rgba(0,0,0,0.6);
        color: #ffee00;
    }
    .list-upcoming-game .box-list-calendar {
        width: 50%;
    }
    .more-info {
        bottom: -89px;
    }
    .leagues-slide {
        margin-top: 0px;
        padding-top: 100px;
        position: relative;
        top: 0px;
    }
    .box-leagues-slide .scroll-table {
        height: 280px !important;
    }
    .box-leagues-slide .table-main {
        padding-right: 0px;
    }
}

@media all and (min-width: 768px) and (max-width: 1100px) {
    .header-page .icon-menu {
        width: 40px;
        height: 40px;
    }
    .header-page .list-choose {
        padding: 15px 20px;
    }
    .banner-home {
        height: 560px;
        min-height: 10px !important;
    }
    .banner-page{
        height: auto  !important;
    }
    .calendar img {
        width: 100%;
    }
    .list-calendar {
        height: 450px !important;
        padding-right: 0px;
    }
    .menu-calendar {
        padding-bottom: 30px;
    }
    .menu-calendar > li.add-games {
        position: absolute;
        bottom: -11px;
        left: 0px;
        width: 100%;
        display: block;
    }
}