@font-face {
    font-family: 'big_johnregular';
    src: url('../fonts/big_john-webfont.eot');
    src: url('../fonts/big_john-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/big_john-webfont.woff2') format('woff2'),
        url('../fonts/big_john-webfont.woff') format('woff'),
        url('../fonts/big_john-webfont.ttf') format('truetype'),
        url('../fonts/big_john-webfont.svg#big_johnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'slim_joeregular';
    src: url('../fonts/slim_joe-webfont.eot');
    src: url('../fonts/slim_joe-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/slim_joe-webfont.woff2') format('woff2'),
        url('../fonts/slim_joe-webfont.woff') format('woff'),
        url('../fonts/slim_joe-webfont.ttf') format('truetype'),
        url('../fonts/slim_joe-webfont.svg#slim_joeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    line-height:20px;
    font-family: 'slim_joeregular';
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'big_johnregular';
}

a {
    text-decoration: none;
    color: #ffee00;
}
a:hover {
    text-decoration: none;
    color: #faf065;
}
li {
    list-style: none outside none;
}
ul {
    margin: 0;
}
img {
    border: 0 none;
}
.clear {
    clear: both;
}
.container {
    position:relative;
    width:1100px;
}
.banner-home {
    background-repeat: no-repeat;
    background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.header {
    width: 70%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.logo {
    float: left;
    width: 40%;
    background: #ffee00;
    height: 88px;
    color: #000;
    text-align: center;
    padding-top: 12px;
}
.logo h1 {
    margin: 0px;
    font-size: 40px;
}
.logo h3 {
    font-size: 14px;
    margin: 0px;
    font-family: 'slim_joeregular';
}
.menu {
    width: 60%;
    float: left;
}
.menu li {
    float: left;
    width: 50%;
    float: left;
}
.menu li a {
    height: 88px;
    line-height: 88px;
    background: rgba(0,0,0,0.7);
    display: block;
    border-left: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.hidden-pc {
    display: none;
}
.choose-sport {
    position: absolute;
    width: 100%;
    top: 88px;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-left: 145px;
}
.choose-sport h3 {
    background: rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 17px;
    left: 0;
    margin: 0;
    padding: 45px 22px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 145px;
}
.list-choose {
    padding: 10px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 11px;
}
.icon-menu {
    width: 118px;
    height: 118px;
    background-size: 118px;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-menu.icon1 {
    background-image: url(../images/icon.png);
}
.icon-menu.icon2 {
    background-image: url(../images/icon1.png);
}
.icon-menu.icon3 {
    background-image: url(../images/icon2.png);
}
.list-choose a {
    display: block;
}
a.active .icon-menu.icon1 {
    background-image: url(../images/icona.png) ;
}
a.active .icon-menu.icon2 {
    background-image: url(../images/icon1a.png);
}
a.active .icon-menu.icon3 {
    background-image: url(../images/icon2a.png);
}
.sponsers-home {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 164px;
    left: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
}
.sponsers-home h3 {
    font-family: 'slim_joeregular';
    font-size: 24px;
    padding: 33px 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    text-align: center;
}
.sponsers-slide {
    margin: 0px;
}
.sponsers-slide .slick-track {
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.sponsers-slide .slick-slide img {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
}
.announcements {
    width: 500px;
    padding: 30px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 70%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.title-box {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 26px;
}
.title-box span {
    color: #ffee00;
}
.readmore {
    text-align: center;
}
.readmore a {
    text-decoration: underline;
}
#announcements-scroll {
    font-family: Arial;
    margin-bottom: 15px;
    height: 300px;
}
.nicescroll-rails {
    width: 16px !important;
    border-radius: 10px;
    border: 1px solid rgba(255,238,0,0.4);
    padding: 0px 2px;
    opacity: 1 !important;
}
.nicescroll-cursors {
    width: 10px !important;
}
#gallery .img-gallery img {
    width: 100%;
}
#gallery {
    width: 1000px;
    margin: auto;
}
#gallery .mix {
    margin-bottom: 20px;
}
.banner-auto {
    height: auto !important;
    padding: 60px 0px;
}
.header-gallery .title-box {
    text-align: left;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.header-gallery {
    position: relative;
}
.header-gallery .select-option {
    width: 200px;
}
.filter-gallery {
    position: absolute;
    top: 0px;
    right: 0px;
}
.select-option {
    display: inline-block;
    position: relative;
    font-size: 13px;
}
.select-option .custom-combobox {
    background: rgba(255,255,255,0.15);
    width: 100%;
    padding-right: 33px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    font-family: 'big_johnregular';
    padding-top: 9px;
}
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
    background: rgba(0,0,0,0.2);
    margin-left: 2px;
}
.ui-widget-content {
    background: none;
    border: 0px;
    color: #fff;
    width: 100%;
}
.ui-autocomplete {
    width: auto;
}
.ui-menu .ui-menu-item {
    background: rgba(0,0,0,0.8);
    font-family: 'slim_joeregular';
    font-size: 13px;
    border:0px;
    margin: 0px;
    padding: 7px;
}
.ui-menu .ui-menu-item:hover {
    color: #fff;
    background:#000;
}
.ui-tooltip {
    border-radius: 0px;
    background: rgba(0,0,0,0.8);
    box-shadow: none;
    width: auto;
}
.fancybox-skin {
    padding: 0px !important;
    border-radius: 0px;
}
.fancybox-close {
    top: 5px !important;
    right: 5px !important;
}
.announcements .close-readmore {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.announcements .close-readmore img {
    width: 25px;
}
.announcements.active .close-readmore {
    display: block;
}
.announcements.active {
    width: 100%;
}
.announcements .row {
    margin: 0px;
}
.announcements .col-sm-6 {
    width: auto;
}
.announcements.active .col-sm-6 {
    width: 50%;
}
.container-page {
    width: 90%;
    margin: auto;
}
.row-1 {
    width: 60%;
    float: right;
    padding: 0px 10px;
}
.row-2 {
    width: 40%;
    float: left;
    padding: 0px 10px;
}
.header-page {
    width: 100%;
}
.header-page .choose-sport {
    position: relative;
    top: 0px;
    float: left;
    width: 18%;
    background: rgba(0,0,0,0.5);
}
.header-page .logo {
    width: 17%;
    padding: 21px 0px;
    height: auto;
}
.header-page .logo h1 {
    font-size: 30px;
}
.header-page .choose-sport {
    padding-left: 0px;
}
.header-page .list-choose {
    padding: 5px 20px;
    background: none;
}
.header-page .icon-menu {
    width: 60px;
    height: 60px;
    background-size: 100%;
}
.header-page .choose-header {
    float: left;
    width: 45%;
    text-align: center;
    padding: 21px 20px;
    background: rgba(0,0,0,0.5);
}
.con-top {
    padding-top: 100px;
}
.account-top {
    float: right;
    width: 20%;
    text-align: center;
    padding-left: 2px;
}
.account-top div {
    padding: 18px 0px;
    background: rgba(0,0,0,0.5);
}
.name-user {
    display: block;
    color: #ffee00 !important;
}
.account-top a {
    color: #fff !important;
}
.header-page .select-option{
    display: block;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}
.list-calendar {
    padding-right: 20px;
}
.box-list-calendar {
    width: 50%;
    padding: 0px 3px;
    float: left;
}
.box-list {
    background: rgba(0,0,0,0.6);
    padding: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    margin-bottom: 6px;
}
.box-list .number-box {
    font-size: 45px;
    line-height: 40px;
    margin: 5px 0px;
}
.box-list h4, .list-leaguelanding h4 {
    margin: 0px;
    color: #ffee00;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
.more-box {
    color: #fff;
    font-family: 'big_johnregular';
}
.more-info {
    position: absolute;
    background: #000000;
    padding: 15px;
    text-align: center;
    width: 100%;
    left: 0px;
    bottom: -130px;
    display: none;
    z-index: 10;
}
.more-info span {
    display: block;
    color: #ffee00;
}
.more-info h4 {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;
}
.close-more-info {
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-more-info img {
    width: 10px;
}
.menu-tab {
    margin-top: 50px;
    margin-bottom: 1px;
}
.menu-tab ul {
    overflow: hidden;
}
.menu-tab ul li {
    float: left;
    margin-right: 1px;
}
.menu-tab ul li a {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}
.menu-tab ul li a span {
    font-family: 'big_johnregular';
}
.right-calendar {
    padding-left: 20px;
}
.calendar-main {
    background: rgba(0,0,0,0.6);
}
.menu-calendar {
    padding-left: 170px;
    position: relative;
}
.menu-calendar h4 {
    font-size: 13px;
    margin: 0px;
    width: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 14px 10px;
}
.menu-calendar > ul {
    display: table;
    width: 100%;
}
.menu-calendar > ul > li {
    display: table-cell;
    position: relative;
    border-left: 1px solid #000;
    background: #ffee00;
}
.menu-calendar > ul > li > a {
    color: #000;
    text-align: center;
    padding: 10px 0px;
    display: block;


}
.menu-calendar > ul > li.active {
    background: #000;
}
.menu-calendar > ul > li.active > a {
    color: #ffee00;
    font-family: 'big_johnregular';
}
.menu-calendar > ul > li.active > .dropdown-calendar {
    display: block;
}
.calendar {
    padding: 40px;
    text-align: center;
}
.calendar img {
    width: 400px;
}
.form-control {
    background: #707070;
    color: #ffee00;
    border: 0px;
    border-radius: 0px;
    font-size: 14px;
}
.btn {
    border-radius: 0px;
    border: 0px;
    font-family: 'big_johnregular';
}
.btn-warning {
    background: #ffee00;
    color: #000;
}
.btn-warning:hover, .btn-warning:focus {
    background: #9d9201;
    color: #000;
}
.dropdown-calendar {
    position: absolute;
    background: #000000;
    padding: 30px;
    right: 0px;
    width: 400px;
    z-index: 10;
    display: none;
}
.subscribed {
    position: relative;
    padding-right: 142px;
    margin-bottom: 20px;
}
.subscribed:last-child {
    margin: 0px;
}
.subscribed .btn {
    width:140px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    padding: 14px 5px;
    font-family: 'big_johnregular';
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #000;
}
.dropdown-menu {
    background: none;
    padding: 0px;
    top: 38px;
    width: 100%;
}
.dropdown-menu ul li a {
    background: #000;
    padding: 10px;
    display: block;
    margin-top: 2px;
    text-align: center;
}
.box-table {
    background: rgba(0,0,0,0.7);
    height: 100%;
    position: relative;
}
.box-table .title-box {
    padding-top: 20px;
}
.table-main .title-table {
    display: table;
    width: 100%;
}
.table-main .title-table div {
    width: 20%;
    display: table-cell;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #ffee00;
}
.table-main .table-scroll {
    display: table;
    width: 100%;
}
.table-main .table-scroll .table-row {
    display: table-row;
}
.table-main .table-scroll .table-row div {
    display: table-cell;
    width: 20%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.table-main .table-scroll .table-row:nth-child(2n) {
    background: rgba(0,0,0,0.3);
}

.title-league {
    background: #191c21;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
.box-leaguelanding {
    width: 55%;
}
.list-leaguelanding ul li {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}
.list-leaguelanding {
    height: 300px !important;
    margin-bottom: 30px;
    margin-right: 20px;
}
.calendar-league .menu-calendar h4 {
    width: 250px;
}
.calendar-league  .menu-calendar {
    padding-left: 250px;
}
.login-box {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    width: 650px;
    position: absolute;
    height: 450px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    text-align: center;
}
.login-box h3 {
    color: #ffee00;
    margin: 50px 0px;
    font-size: 26px;
}
.login-box form {
    width: 50%;
    margin: auto;
}
.header-login, .box-leagues-slide  {
    background: rgba(0,0,0,0.6);
}
.box-leagues-slide .title-box {
    font-size: 18px;
    margin: 0px;
    padding: 15px 0px;
}

.item-leagues-slide {
    padding-left: 1px;
    padding-right: 1px;
}
.box-leagues-slide .scroll-table {
    height: 300px !important;
}
.leagues-slide {
    width: 90%;
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -189px;
    position: absolute;
}
.sponsers-slide .slick-prev, .sponsers-slide .slick-next{
    top: 0px;
}
.leagues-slide .slick-prev, .leagues-slide .slick-next {
    bottom: -80px;
    height: 62px;
    width: 50px;
    left: 50%;
}
.leagues-slide .slick-prev {
    margin-left: -52px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    border-color: rgba(255,238,0,0.6);
}
.scroll-table .mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.list-upcoming-game {
    display: table;
    width: 100%;
}
.list-upcoming-game .box-list-calendar {
    width: 25%;
}
.account-login div{
    padding: 28px 0px;
}
.account-login div a {
    color: #ffee00 !important;
}