<div class="header-mobile hidden-pc">
  <a href="#" class="toogle-header"><i class="fa fa-bars"></i></a>
  <div class="logo"><h1>Y.M.S.S.A</h1></div>
</div>
<div class="header">
  <a href="#" class="close-header hidden-pc"><img src="assets/images/close.png"></a>
  <div class="logo">
    <h1>Y.M.S.S.A</h1>
    <h3>YESHIVA MIDDLE SCHOOL SPORTS ASSOCIATION</h3>
  </div>
  <div class="choose-sport">
    <h3>CHOOSE YOUR SPORT</h3>
    <div class="list-choose">
      <div class="row">
        <div class="col-xs-4">
          <a href="#"><i class="icon-menu icon1"></i></a>
        </div>
        <div class="col-xs-4">
          <a href="#"><i class="icon-menu icon2"></i></a>
        </div>
        <div class="col-xs-4">
          <a href="#"><i class="icon-menu icon3"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-header hidden-pc">
    <div class="select-option">
      <select id="combobox2">
        <option value="1">Western pets</option>
        <option value="2">Western pets1</option>
        <option value="3">Western pets2</option>
      </select>
    </div>
    <div class="select-option">
      <select id="combobox3">
        <option value="1">7th grade soccer</option>
        <option value="2">7th grade soccer1</option>
        <option value="3">7th grade soccer2</option>
      </select>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">Photo Gallery</a></li>
      <li class="hidden-pc"><a href="#">COACH LOGIN</a></li>
    </ul>
  </div>
  <div class="slogan-mobile hidden-pc">YESHIVA MIDDLE SCHOOL SPORTS ASSOCIATION</div>
</div>
<div class="banner-home" style="background-image: url('assets/images/banner.jpg')">
  <div class="sponsers-home">
    <h3>SPONSERS</h3>
    <div class="sponsers-slide" slick>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company2.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company2.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company2.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company2.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company.png">
      </div>
      <div class="slick-sponser">
        <img src="assets/images/logo-company1.png">
      </div>
    </div>
  </div>
</div>
<div class="banner-home" style="background-image: url('assets/images/banner1.jpg')">
  <div class="announcements">
    <a href="#" class="close-readmore"><img src="assets/images/close-white.png"></a>
    <h2 class="title-box">Announcements</h2>
    <div id="announcements-scroll" class="scroll-main" custom-scroll-bar>
      <div class="row">
        <div class="col-sm-6">
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
        </div>
        <div class="col-sm-6">
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
          <br><br>
          <strong style="font-size: 17px; color: #ffee00">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</strong><br>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…
        </div>
      </div>

    </div>
    <div class="readmore"><a href="#">READ MORE</a></div>
  </div>
</div>
<div class="banner-home banner-auto" style="background-image: url('assets/images/banner2.jpg')">
  <div id="gallery">
    <div class="header-gallery">
      <h2 class="title-box">GALLERY</h2>

      <div class="filter-gallery">
        <div class="select-option">
          <select id="combobox" combobox>
            <option value="1" data-filter=".category-1">FILTER BY TEAM</option>
            <option value="a" data-filter=".category-2">FILTER BY TEAM 1</option>
            <option value="b" data-filter=".category-3">FILTER BY TEAM 2</option>
            <option value="c" data-filter=".category-1">FILTER BY TEAM 3</option>
            <option value="d" data-filter=".category-2">FILTER BY TEAM 4</option>
            <option value="e" data-filter=".category-3">FILTER BY TEAM 5</option>
          </select>
        </div>
        <div class="select-option">
          <select id="combobox1" combobox>
            <option value="1">FILTER BY TEAM</option>
            <option value="a">FILTER BY TEAM 1</option>
            <option value="b">FILTER BY TEAM 2</option>
            <option value="c">FILTER BY TEAM 3</option>
            <option value="d">FILTER BY TEAM 4</option>
            <option value="e">FILTER BY TEAM 5</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 mix category-1" data-my-order="1">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-2" data-my-order="2">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-3" data-my-order="3">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-1" data-my-order="4">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-2" data-my-order="5">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-3" data-my-order="6">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-1" data-my-order="7">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-2" data-my-order="8">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 mix category-3" data-my-order="9">
        <div class="img-gallery">
          <a class="fancybox-effects-a" href="assets/images/img.jpg" title=""><img src="assets/images/img.jpg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>


